<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @test.note %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @test.reference %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
